{
    "extends": "airbnb",
    "env": {
        "browser": true,
        "node": true,
        "jquery": true
		},
   
    "rules": {
			"no-unused-vars": [1,{"argsIgnorePartern": "res|next|~err"}],
			"arrow-body-style": [2, "as-needed"],
			"linebreak-style": 0,
			"eol-last": 0,
			"no-param-reassign": [2, { "props": false }],
			"no-console": 0,
			"import": 0,
			"func-names": 0,
			"space-before-function-paren": 0,
			"comma-dangle": 0,
			"max-len": 0,
			"no-underscore-dangle": 0,
			"react/prefer-es6-class": 0,
			"radix": 0,
			"default-case": 0,
			"no-else-return": 0,
			"quotes": 0
    }
}